<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.task.htt.vo.HttAwardHisVo">

    <!-- 添加 -->
	<insert id="insertHttAwardHis" parameterType="com.yfax.task.htt.vo.HttAwardHisVo">
		insert into htt_award_his
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="phoneNum != null" > phoneNum, </if>
		  <if test="awardType != null" > awardType, </if>
		  <if test="awardName != null" > awardName, </if>
		  <if test="gold != null" > gold, </if>
		  <if test="isCal != null" > isCal, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="updateDate != null" > updateDate, </if>
		  
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="phoneNum != null" > #{phoneNum}, </if>
		  <if test="awardType != null" > #{awardType}, </if>
		  <if test="awardName != null" > #{awardName}, </if>
		  <if test="gold != null" > #{gold}, </if>
		  <if test="isCal != null" > #{isCal}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="updateDate != null" > null, </if>
		  
        </trim>
	</insert>
    
</mapper>