<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.task.qmtt.vo.HttHolidayActivityInviteUserRankingVo">

    <select id="selectRanking" resultType="com.yfax.task.htt.vo.HttHolidayActivityInviteUserRankingVo">
        <![CDATA[
	    select m.phoneNum,n.userName,m.realNewUsers from (
        SELECT phoneNum,sum(numbs) as realNewUsers FROM (
        SELECT c.studentPhoneNum,count(studentPhoneNum) numbs,phoneNum FROM (
        select distinct studentPhoneNum,phoneNum from (
    	    select studentPhoneNum, count(studentPhoneNum) nums, phoneNum from (
	 	select studentPhoneNum, phoneNum from htt_award_student_his where studentPhoneNum in 
	 	(SELECT `studentPhoneNum` 
		FROM `htt_inviteuser_his` where createDate>=#{startTime} and createDate<#{endTime}) 
        and createDate>=#{startTime} and createDate<#{endTime} and awardType=5) b group by studentPhoneNum
	 	having nums>=5) a
        ) c GROUP BY studentPhoneNum) d GROUP BY  phoneNum  
	    ) m, htt_app_user n where m.phoneNum=n.phoneNum ORDER BY  m.realNewUsers desc
	    ]]>
	</select>
    
    <!-- 批量插入 -->
	<insert id="batchInsertRanking" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			insert into htt_holiday_activity_ranking
			<trim prefix="(" suffix=")" suffixOverrides="," >
			  <if test="item.id != null" > id, </if>
			  <if test="item.date != null" > date, </if>
			  <if test="item.phoneNum != null" > phoneNum, </if>
			  <if test="item.userName != null" > userName, </if>
			  <if test="item.realNewUsers != null" > realNewUsers, </if>
			  <if test="item.ranking != null" > ranking, </if>
			  <if test="item.createDate != null" > createDate, </if>
			  <if test="item.updateDate != null" > updateDate, </if>
			</trim>
	        <trim prefix="values (" suffix=")" suffixOverrides="," >
			  <if test="item.id != null" > #{item.id}, </if>
			  <if test="item.date != null" > #{item.date}, </if>
			  <if test="item.phoneNum != null" > #{item.phoneNum}, </if>
			  <if test="item.userName != null" > #{item.userName}, </if>
			  <if test="item.realNewUsers != null" > #{item.realNewUsers}, </if>
			  <if test="item.ranking != null" > #{item.ranking}, </if>
			  <if test="item.createDate != null" > #{item.createDate}, </if>
			  <if test="item.updateDate != null" > null, </if>
	        </trim>
		</foreach>
	</insert>
    
</mapper>
