<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.task.htt.vo.HttReadInfoReportVo">

   <select id="selectReadInfoReportByDate" resultType="com.yfax.task.htt.vo.HttReadInfoReportVo">
		<![CDATA[
		SELECT A.*, B.readUserNum, 
		       round(B.readUserNum/A.activeUserNum,2) readRate, 
		       B.totalReadNum, 
		       round(B.avgReadNum,2) avgReadNum, 
		       B.totalReadGold, 
		       round(B.avgReadGold,2) avgReadGold, 
		       round(B.avgReadGoldTimes,2) avgReadGoldTimes
		       FROM (
		             SELECT LEFT(`createDate`, 10) `satisticDate`, COUNT(DISTINCT `phoneNum`) activeUserNum 
		                    FROM `htt_award_his` GROUP BY LEFT(`createDate`, 10) 
                                  having `satisticDate` = #{day}                     
                                  ) AS A
                                    LEFT JOIN (
                                         SELECT LEFT(`createDate`, 10) `satisticDate`, 
                                         COUNT(DISTINCT `phoneNum`) readUserNum, COUNT(*) totalReadNum, 
                                         COUNT(*)/COUNT(DISTINCT `phoneNum`) avgReadNum, SUM(`gold`) totalReadGold, 
                                         SUM(`gold`)/COUNT(DISTINCT `phoneNum`) avgReadGold, 
                                         SUM(`gold`)/COUNT(*) avgReadGoldTimes 
                                         FROM `htt_award_his` WHERE awardType = 4        
                                         GROUP BY LEFT(`createDate`, 10) 
                                         ) AS B
                                         ON A.satisticDate = B.satisticDate
          ]]> 
	</select>
	
	<update id="insertReadInfoReport"  parameterType="com.yfax.task.htt.vo.HttReadInfoReportVo">
            insert into htt_read_Info_report
			<trim prefix="(" suffix=")" suffixOverrides="," >
			  <if test="id != null" > id, </if>
			  <if test="satisticDate != null" > satisticDate, </if>
			  <if test="activeUserNum != null" > activeUserNum, </if>
			  <if test="readUserNum != null" > readUserNum, </if>
			  <if test="readRate != null" > readRate, </if>
			  <if test="totalReadNum != null" > totalReadNum, </if>
			  <if test="avgReadNum != null" > avgReadNum, </if>
			  <if test="totalReadGold != null" > totalReadGold, </if>
			  <if test="avgReadGold != null" > avgReadGold, </if>
			  <if test="avgReadGoldTimes != null" > avgReadGoldTimes, </if>
			  <if test="createDate != null" > createDate, </if>
			  <if test="updateDate != null" > updateDate, </if>
			</trim>
	        <trim prefix="values (" suffix=")" suffixOverrides="," >
			  <if test="id != null" > #{id}, </if>
			  <if test="satisticDate != null" > #{satisticDate}, </if>
			  <if test="activeUserNum != null" > #{activeUserNum}, </if>
			  <if test="readUserNum != null" > #{readUserNum}, </if>
			  <if test="readRate != null" > #{readRate}, </if>
			  <if test="totalReadNum != null" > #{totalReadNum}, </if>
			  <if test="avgReadNum != null" > #{avgReadNum}, </if>
			  <if test="totalReadGold != null" > #{totalReadGold}, </if>
			  <if test="avgReadGold != null" > #{avgReadGold}, </if>
			  <if test="avgReadGoldTimes != null" > #{avgReadGoldTimes}, </if>
			  <if test="createDate != null" > #{createDate}, </if>
			  <if test="updateDate != null" > null, </if>
	        </trim>
    </update>
   
</mapper>