<!DOCTYPE html>
<html lang="en">
<head>
<meta name="apple-mobile-web-app-capable" content="yes"></meta>
<meta http-equiv="Cache-Control" name="no-store"></meta>
<meta content="telephone=no" name="format-detection"></meta>
<meta content="email=no" name="format-detection"></meta>
<meta charset="utf-8"></meta>
<meta name="viewport"
	content="target-densitydpi=device-dpi,width=decive-width,initial-scale=1,maximum-scale=1"></meta>
<title>FAQ</title>
<style>
html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

html, body, * {
	font-family: "微软雅黑";
	line-height: 20px;
	font-size: 14px;
}

h1 {
	font-size: 20px;
}

body {
	
}

.text-center {
	text-align: center;
}

ul, li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0 8px;
}
</style>
</head>
<body>
	<h1 class="text-center">XXX用户协议</h1>
	<ul>
		<li><strong>首部及导言</strong><br />
			<p>
				欢迎您使用XXX软件及服务！<br />
				为使用XXX软件（以下简称“本软件”）及服务，您应当阅读并遵守《XXX软件许可及服务协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意。<br />
				除非您已阅读并接受本协议所有条款，否则您无权下载、安装或使用本软件及相关服务。您的下载、安装、使用、登录等行为即视为您已阅读并同意上述协议的约束。<br />
				如果您未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。
			</p></li>
		<li><strong>一、账号注册</strong><br />
			<p>
				1.用户在使用本服务前需要注册一个“XXX”账号。“XXX”账号应当使用手机号码绑定注册。<br />
				2.“XXX”系列应用产品，所有权属于XXX软件。用户注册时应当授权XXX公开及使用其个人信息方可成功注册“XXX”账号。故用户完成注册即表明用户同意XXX提取、公开及使用用户的信息。<br />
				3.鉴于“XXX”账号的绑定注册方式，您同意XXX在注册时将允许您的手机号码及手机设备识别码等信息用于注册。<br />
				4.在用户注册及使用本服务时，XXX需要搜集能识别用户身份的个人信息以便可以在必要时联系用户，或为用户提供更好的使用体验，XXX搜集的信息包括但不限于用户姓名、地址；XXX同意对这些信息的使用将受限于第三条用户个人隐私信息保护的约束。
			</p></li>
		<li><strong>二、软件的获取</strong><br />
			<p>
				1.您可以直接指定网站上下载本软件。<br />
				2.如果您从指定获取本软件或与本软件名称相同的安装程序，XXX无法保证该软件能够正常使用，并对因此给您造成的损失不予负责。
			</p></li>

		<li><strong>三、软件的安装与卸载</strong><br />
			<p>
				1.XXX可能为不同的终端设备开发了不同的软件版本，您应当根据实际情况选择下载合适的版本进行安装。<br />
				2.下载安装程序后，您需要按照该程序提示的步骤正确安装。<br />
				3.为提供更加优质、安全的服务，在本软件安装时腾讯可能推荐您安装其他软件，您可以选择安装或不安装。<br />
				4.如果您不再需要使用本软件或者需要安装新版软件，可以自行卸载。如果您愿意帮助XXX改进产品服务，请告知卸载的原因。
			</p></li>

		<li><strong>四、用户个人信息保护</strong><br />
			<p>
				1.保护用户个人信息是XXX的一项基本原则，XXX将会采取合理的措施保护用户的个人信息。除法律法规规定的情形外，未经用户许可XXX不会向第三方公开、透露用户个人信息。XXX对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。<br />
				2.您在注册帐号或使用本服务的过程中，需要提供一些必要的信息，例如：为向您提供帐号注册服务或进行用户身份识别，需要您填写手机号码；附近的人功能需要您同意使用您所在的地理位置信息；手机通讯录匹配功能需要您授权访问手机通讯录等。若国家法律法规或政策有特殊规定的，您需要提供真实的身份信息。若您提供的信息不完整，则无法使用本服务或在使用过程中受到限制。<br />
				3.一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如号码申诉服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。
			</p></li>
		<li><strong>五、用户发布内容规范</strong><br />
			<p>
				1.用户不得利用“XXX”账号或本服务传播如下法律、法规和政策禁止的内容：<br /> 
				2.反对宪法所确定的基本原则的；<br />
				3.危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br /> 
				4.煽动民族仇恨、民族歧视，破坏民族团结的；<br />
				5.散布谣言，扰乱社会秩序，破坏社会稳定的；<br /> 
				6.含有辱骂、恐吓、威胁内容的；<br />
				7.含有骚扰、垃圾广告、恶意信息、诱骗信息的；<br /> 
				8.涉及他人隐私、个人信息或资料的；<br />
				9.侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利权益的<br />
				10.含有其他干扰本服务正常运营和侵权其他用户或第三方合法权益内容的信息。
			</p></li>
		<li><strong>六、知识产权声明</strong><br />
			<p>
				1.XXX是本软件的知识产权权利人。本软件的一切著作权、商标权、专利权、商业秘密等知识产权，以及与本软件相关的所有信息内容（包括但不限于文字、图片、音频、视频、图表、界面设计、版面框架、有关数据或电子文档等）均受中华人民共和国法律法规和相应的国际条约保护，XXX享有上述知识产权，但相关权利人依照法律规定应享有的权利除外。<br />
				2.未经XXX或相关权利人书面同意，您不得为任何商业或非商业目的自行或许可任何第三方实施、利用、转让上述知识产权。
			</p></li>
		<li><strong>七、终端安全责任</strong><br />
			<p>
				1.您理解并同意，本软件同大多数互联网软件一样，可能会受多种因素影响，包括但不限于用户原因、网络服务质量、社会环境等；也可能会受各种安全问题的侵扰，包括但不限于他人非法利用用户资料，进行现实中的骚扰；用户下载安装的其他软件或访问的其他网站中可能含有病毒、木马程序或其他恶意程序，威胁您的终端设备信息和数据安全，继而影响本软件的正常使用等。因此，您应加强信息安全及个人信息的保护意识，注意密码保护，以免遭受损失。<br />
				2.您不得制作、发布、使用、传播用于窃取微信帐号及他人个人信息、财产的恶意程序。<br />
				3.维护软件安全与正常使用是XXX和您的共同责任，XXX将按照行业标准合理审慎地采取必要技术措施保护您的终端设备信息和数据安全，但是您承认和同意XXX并不能就此提供完全保证。<br />
				4.在任何情况下，您不应轻信借款、索要密码或其他涉及财产的网络信息。涉及财产操
				作的，请一定先核实对方身份，并请经常留意XXX有关防范诈骗犯罪的提示。
			</p></li>
		<li><strong>八、其他</strong><br />
			<p>
				1.您使用本软件即视为您已阅读并同意受本协议的约束。XXX有权在必要时修改本协议条款。您可以在本软件的最新版本中查阅相关协议条款。本协议条款变更后，如果您继续使用本软件，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本软件。<br />
				2.本协议签订地为中华人民共和国广东省广州市。
			</p></li>
	</ul>
</body>
</html>
