<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.spider.vo.SpiderEmailVo">

 	<select id="selectSpiderEmail" resultType="com.yfax.spider.vo.SpiderEmailVo">
        select * from ytt_spider_email
    </select>
    
</mapper>
