<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.webapi.htt.vo.AdvListVo">

	 <select id="selectAdvList" resultType="com.yfax.webapi.htt.vo.AdvListVo">
        select * from htt_adv_list where status=2
    </select>
    
</mapper>
