<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfax.webapi.htt.vo.NoticeConfigVo">

	 <select id="selectNoticeConfig" resultType="com.yfax.webapi.htt.vo.NoticeConfigVo">    
       select title,description,action,titleMapUrl,buttonCopywriting,notificationType,tag, ifnull(updateDate,createDate) 
       as cDate 
       from htt_notice_config
       where status = 2 
       order by cDate desc;
    </select>
    
</mapper>
